.member-settings {
  padding: 40px;
  background: #f2f2f2; 
  font-family: 'Prompt', sans-serif; 
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.input-search {
  flex: 1;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  width: 100%;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  background: #eee;
}

.btn.blue {
  background: #003fc4;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  z-index: 10;
  width: 10rem;
}

.dropdown-content div {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  /* margin: 4px 0; */
} 
.table-wrapper {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f8f8f8;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
}

.actions {
  display: flex;
  gap: 10px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: .1rem .7rem .1rem .7rem;
}
.icon-btn:hover > img{
  /* color: #FFF;
  background: #646cffaa; */
  filter: brightness(0) saturate(100%) invert(100%) sepia(48%) saturate(1627%) hue-rotate(200deg) brightness(111%) contrast(106%);
}

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  border-radius: 16px;
  padding: 20px;
  min-width: 250px;
  max-width: 50rem;
  box-shadow: none !important;
}

.modal-content h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 16px;
}
.modal-content .input {
  padding: 0px;
}

.modal-content input[type="text"] , .modal-content .input { 
  margin-bottom: 12px;
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 7rem;
}
 
button[type="reset"]{
  background:#cf6737 ;
}
button[type="reset"]:hover{ 
  background:#d8774a ;
}
button[role="delete"]{
  background-color: transparent !important;
  color: red;
}
button[role="delete"]:hover{
  background-color: transparent !important;
  border:1px solid red;
  color: red !important;
}